[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.3.3"
python-dotenv = "*"
flask-mysql-connector = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.11.2"