{%extends "layouts.html"%}
{% block content %}
<section class="college">
    <div class="college-list">
        <div class="college-header">
            <h1>Colleges</h1>
            <div class="button-container">
                <button class="primary-button" id="add-colleges-btn">Add</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CCS</td>
                    <td>College of Computer Studies</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>CEBA</td>
                    <td>College of Business and Accountancy</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

