{%extends "layouts.html"%}
{% block content %}
<section class="college">
    <div class="college-list">
        <h1>Colleges</h1>
        <button id="add-college-button">Add</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CCS</td>
                    <td>College of Computer Studies</td>
                </tr>
                <tr>
                    <td>CEBA</td>
                    <td>College of Business and Accountancy</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

