{% set active_page = 'courses'%}
{% extends "layouts.html" %}
{% block content %}

<section class="course">
    <div class="course-list">
        <div class="course-header">
            <h1>Courses</h1>
            <button type="button" class="primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add
            </button>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses_data %}
                <tr>
                    <td>{{ course['courseCode'] }}</td>
                    <td>{{ course['courseName'] }}</td>
                    <td>{{ course['college'] }}</td>
                    <td>
                        <button type="button" class="custom-edit-button" data-bs-toggle="modal" data-bs-target="#editModal">
                            Edit
                        </button>
                        <button type="button" class="custom-delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
