{% extends "layouts.html" %}
{% block content %}
<section class="course">
    <div class="course-list">
        <div class="course-header">
            <h1>Courses</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add
            </button>
        </div>
        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">ADD COURSES</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/add_college">
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Course Code</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeName" class="form-label">Course Name</label>
                                    <input type="text" class="form-control" id="collegeName" name="collegeName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeName" class="form-label">College</label>
                                    <input type="text" class="form-control" id="collegeName" name="collegeName" required>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <table class="table table-custom">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BSCS</td>
                    <td>Bachelor of Science in Computer Science</td>
                    <td>CCS</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>BSIT</td>
                    <td>Bachelor of Science in Information Technology</td>
                    <td>CCS</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
