{% set active_page = 'student'%}
{% extends "layouts.html" %}

{%block content%}
<section class="student">
    <div class="student-list">
        <div class="students-header">
            <h1>Students</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add
            </button>
        </div>
        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">ADD STUDENTS</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/add_college">
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Student ID</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Course</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Year</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeName" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="collegeName" name="collegeName" required>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>2021-****</td>
                        <td>Fulgent Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSCS</td>
                        <td>3rd Year</td>
                        <td>Male</td>
                        <td>
                            <button class="custom-edit-button">Edit</button>
                            <button class="custom-delete-button">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2021-****</td>
                        <td> Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSIT</td>
                        <td>4th Year</td>
                        <td>Female</td>
                        <td>
                            <button class="custom-edit-button">Edit</button>
                            <button class="custom-delete-button">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2021-****</td>
                        <td> Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSCpE</td>
                        <td>4th Year</td>
                        <td>Female</td>
                        <td>
                            <button class="custom-edit-button">Edit</button>
                            <button class="custom-delete-button">Delete</button>
                        </td>
                    </tr>
                </tbody>

                <!-- <section class="course">
                <div class="course-list">
                    <table class="table">
                        <thead>
                    <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>College</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BSCS</td>
                                <td>Bachelor of Science in Computer Science</td>
                                <td>CCS</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            <!-- <section class="college">
                <div class="college-list">
                    <h1>Colleges</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CCS</td>
                                <td>College of Computer Studies</td>
                            </tr>
                            <tr>
                                <td>CEBA</td>
                                <td>College of Business and Accountancy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section> -->
        </table>    
    </div>
</section>
{% endblock content%}
