{% set active_page = 'student'%}
{% extends "layouts.html" %}

{%block content%}
<section class="student">
    <div class="student-list">
        <div class="students-header">
            <h1>Students</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add
            </button>
        </div>
        
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">ADD STUDENTS</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/add_college">
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Student ID</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Course</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeCode" class="form-label">Year</label>
                                    <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                                </div>
                                <div class="mb-3">
                                    <label for="collegeName" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="collegeName" name="collegeName" required>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>2021-****</td>
                        <td>Fulgent Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSCS</td>
                        <td>3rd Year</td>
                        <td>Male</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td>2021-****</td>
                        <td> Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSIT</td>
                        <td>4th Year</td>
                        <td>Female</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td>2021-****</td>
                        <td> Kvasir</td>
                        <td>Lavesores</td>
                        <td>BSCpE</td>
                        <td>4th Year</td>
                        <td>Female</td>
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
        </table>    
    </div>
</section>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">EDIT STUDENTS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add form elements to edit data -->
                <form id="editForm">
                    <div class="mb-3">
                        <label for="editCollegeCode" class="form-label">Student ID</label>
                        <input type="text" class="form-control" id="editCollegeCode" name="editCollegeCode" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="editCollegeName" name="editCollegeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editCollegeName" name="editCollegeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">Course</label>
                        <input type="text" class="form-control" id="editCollegeName" name="editCollegeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">Year</label>
                        <input type="text" class="form-control" id="editCollegeName" name="editCollegeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="editCollegeName" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="editCollegeName" name="editCollegeName" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="saveEditButton">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
