{% extends "layouts.html" %}

{% block content %}
<!-- add_student.html -->
<div class="add-form-container">
  <h3>Students</h3>
  <hr>
  <div class="add-container">
    <h3><b>Add New Student</b></h3>
    <div class="picture-upload">
      <button type="button" id="uploadButton" onclick="uploadImage()">Upload Picture</button>
      <p id="file-name"></p> 
  </div>
  
    <input type="hidden" id="profile-picture" name="profile_picture">
    <div class="label-containers">
      <form id="addStudentForm" method="POST" action="{{ url_for('students.add_student_form') }}" enctype="multipart/form-data">
        <label for="studentID">Student ID:</label>
        <input type="text" id="studentID" name="studentID" required>

        <label for="studentFname">First Name:</label>
        <input type="text" id="studentFname" name="studentFname" required>

        <label for="studentLname">Last Name:</label>
        <input type="text" id="studentLname" name="studentLname" required>

        <label for="course">Course:</label>
        <select id="course" name="course" required>
          {% for course in courses_data %}
            <option value="{{ course.courseCode }}">{{ course.courseCode }}</option>
          {% endfor %}
        </select>

        <label for="year">Year:</label>
        <select id="year" name="year" required>
          <option value="1st Year">1st Year</option>
          <option value="2nd Year">2nd Year</option>
          <option value="3rd Year">3rd Year</option>
          <option value="4th Year">4th Year</option>
          <option value="5th Year">5th Year</option>
          <option value="6th Year">6th Year</option>
        </select>
        
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <button type="button" id="addStudentButton" onclick="submitForm()">Add Student</button>
      </form>
    </div>
  </div>  
</div> 

<script>
  function uploadImage() {
    cloudinary.openUploadWidget({
        cloudName: 'dtounqe2m',  
        uploadPreset: 'ml_default', 
        sources: ['local', 'url'], 
        cropping: true, 
        multiple: false, 
        folder: 'web_ssis', 
        showAdvancedOptions: false,  
        showUploadMoreButton: false 
    }, (error, result) => {
        if (error) {
            console.error("Error uploading image:", error.message || error);
            alert("Error uploading image: " + (error.message || error));
            return;
        }
        if (result && result.event === 'success') {
            const imageUrl = result.info.secure_url;
            console.log("Image uploaded successfully. URL: ", imageUrl);
            document.getElementById('profile-picture').value = imageUrl;
            document.getElementById('file-name').textContent = result.info.original_filename;
        }
    });
  }

  function submitForm() {
      const profilePictureUrl = document.getElementById('profile-picture').value;
      var studentID = document.getElementById('studentID').value;
      var studentFname = document.getElementById('studentFname').value;
      var studentLname = document.getElementById('studentLname').value;
      var course = document.getElementById('course').value;
      var year = document.getElementById('year').value;
      var gender = document.getElementById('gender').value;

      if (!studentID || !studentFname || !studentLname || !course || !year || !gender) {
        alert('Please fill all the required fields.');
        return false;
      }

      document.getElementById('addStudentForm').submit();
   }
</script>

{% endblock %}
