{% extends "layouts.html" %}


{% block content %}
<div class="add-form-container">
  <h1>College</h1>
  <hr>
  <div class="add-container">
    <h2><b>Add New College</b></h2>

    <div class="label-containers">
      <form method="post" action="{{ url_for('colleges.add_college_form') }}">


        <label for="collegeCode">College Code:</label>
        <input type="text" id="collegeCode" name="collegeCode" required>

        <label for="collegeName">College Name:</label>
        <input type="text" id="collegeName" name="collegeName" required>


        <button type="button" id="addCollegeButton">Add College</button>
      </form>
    </div>
  </div>  
</div>
{% endblock %}
