{% extends "layouts.html" %}


{% block content %}
<div class="add-form-container">
  <h1>College</h1>
  <hr>
  <div class="add-container">
    <h2><b>Add New College</b></h2>

    <div class="label-containers">
        <form id="addCollegeForm" method="post" action="{{ url_for('colleges.add_college_form') }}">


        <label for="collegeCode">College Code:</label>
        <input type="text" id="collegeCode" name="collegeCode" required>

        <label for="collegeName">College Name:</label>
        <input type="text" id="collegeName" name="collegeName" required>


        <button type="button" id="addCollegeButton" onclick="submitForm()">Add College</button>
      </form>
    </div>
  </div>  
</div>
<script>
  function submitForm() {
    var collegeCode = document.getElementById('collegeCode').value;
    var collegeName = document.getElementById('collegeName').value;


    if (!collegeCode || !collegeName) {
        document.getElementById('error-message').textContent = 'Please fill all the required fields.';
        return false;
    }

    // Get the CSRF token from the meta tag
    const csrfTokenMeta = document.querySelector('meta[name="csrf-token"]');
    if (!csrfTokenMeta) {
        console.error('CSRF token meta tag not found.');
        document.getElementById('error-message').textContent = 'CSRF token not found.';
        return false;
    }
    const csrfToken = csrfTokenMeta.getAttribute('content');

    fetch(`/colleges/check_duplicate/${encodeURIComponent(collegeCode)}`, {
        method: 'POST',
            body: formData,
            headers: {
                "X-CSRFToken": csrfToken,
            },
        })
    .then(response => response.json())
    .then(data => {
        if (data.exists) {
            document.getElementById('error-message').textContent = 'College Code already exists. Please choose a different College Code.';
        } else {
            document.getElementById('addCollegeForm').submit();
        }
    })
    .catch(error => {
        console.error('Error checking for duplicate College Code:', error);
        document.getElementById('error-message').textContent = 'An error occurred while checking for duplicate College Code.';
    });
}    

</script>
{% endblock %}
