{% extends "layouts.html" %}

{% block content %}
<div class="add-form-container">
  <h1>Courses</h1>
  <hr>
  <div class="add-container">
    <h2><b>Add New Course</b></h2>

    <div class="label-containers">
      <form method="post" action="{{ url_for('courses.add_course_form') }}">

        <label for="courseCode">Course Code:</label>
        <input type="text" id="courseCode" name="courseCode" required>

        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="courseName" required>

        <label for="college">College:</label>
        <select id="college" name="college" required>
          {% for college in colleges_data %}
            <option value="{{ college.collegeCode }}">{{ college.collegeCode }}</option>
          {% endfor %}
        </select>
        

        <button type="button" onclick="submitCourseForm()">Add Course</button>      
      </form>
    </div>
  </div>  
</div>
{% endblock %}
