{% set active_page = 'colleges' %}
{% extends "layouts.html" %}

{% block content %}

    <section class="college">
        <div class="college-list">
            <div class="college-header">
                <h1>Colleges</h1>
                <button type="button" class="primary-button" id="addButton">
                    Add
                </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in colleges_data %}
                    <tr>
                        <td>{{ college['collegeCode'] }}</td>
                        <td>{{ college['collegeName'] }}</td>
                        <td>
                            <button type="button" class="custom-edit-button" id="editButton">
                                Edit
                            </button>
                            <button type="button" class="custom-delete-button" id="deleteButton">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <div id="addModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">    
                <h2>Add College</h2>
            </div>
                <div class="modal-body">
                <form id="addCollegeForm">
                    <div class="inputBox">
                        <input type="text" class="form-control" id="collegeCode" name="collegeCode" required>
                        <label for="collegeCode" class="form-label">College Code</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="collegeName" name="collegeName" required>
                        <label for="collegeName" class="form-label">College Name</label>
                    </div>
                </form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="primary-button" id="saveBtnCollege">Save</button>
                <button type="button" class="custom-close-button" id="closeBtn">Close</button>
            </div>
         </div>
    </div>
        <div id="editModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Student</h2>
            </div>
            <div class="modal-body">
                <form id="editStudentForm">
                    <div class="inputBox">
                        <input type="text" class="form-control" id="editStudentID" name="studentID" required>
                        <label for="editStudentID" class="form-label">Student ID</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="editStudentFname" name="studentFname" required>
                        <label for "editStudentFname" class="form-label">First Name</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="editStudentLname" name="studentLname" required>
                        <label for="editStudentLname" class="form-label">Last Name</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="editcourse" name="course" required>
                        <label for="editcourse" class="form-label">Course</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="edityear" name="year" required>
                        <label for="edityear" class="form-label">Year</label>
                    </div>
                    <div class="inputBox">
                        <input type="text" class="form-control" id="editgender" name="gender" required>
                        <label for="editgender" class="form-label">Gender</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="primary-button" id="saveBtnEdit">Save</button>
                <button type="button" class="custom-close-button" id="closeEditModal">Close</button>
            </div>
        </div>
    </div>


{% endblock %}
