{% set active_page = 'colleges' %}
{% extends "layouts.html" %}

{% block content %}

    <section class="college">
        <div class="college-list">
            <div class="college-header">
                <h3>Colleges</h3>
                <a href="{{ url_for('colleges.add_college_form') }}">
                    <button type="button" class="primary-button" id="addButton"><i class="fa-regular fa-square-plus"></i></button>
                </a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in college_data %}
                    <tr>
                        <td>{{ college['collegeCode'] }}</td>
                        <td>{{ college['collegeName'] }}</td>
                        <td>
                            <button type="button" class="custom-edit-button" 
                            data-college-code="{{ college.collegeCode }}" 
                            data-college-name="{{ college.collegeName }}">
                                <i class="fa-solid fa-pen"></i>
                            </button>                            
                            <button type="button" class="custom-collegedelete-button" data-college-code="{{ college.collegeCode }}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>  

    <div id="editCollegeModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit College - <span id="collegeCodeHeading"></span></h2>
                <span class="close" id="closeEditCollegeModal">&times;</span>
            </div>
                <div class="modal-body">
                    <form id="editForm" method="post" action="{{ url_for('colleges.update_college_route') }}">
                        <div class="inputBox">
                            <input type="text" id="editCollegeCode" name="editCollegeCode" value="{{collegeCode }}" required disabled>
                            <label for="editCollegeCode">College Code:</label>
                        </div>
                        <div class="inputBox">
                            <input type="text" id="editCollegeName" name="editCollegeName" value="{{collegeName }}" required>
                            <label for="editCollegeName">College Name:</label>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="submit" class="primary-button" id="updateCollegeButton">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    

{% endblock %}
