{% set active_page = 'colleges' %}
{% extends "layouts.html" %}

{% block content %}

    <section class="college">
        <div class="college-list">
            <div class="college-header">
                <h1>Colleges</h1>
                <a href="{{ url_for('colleges.add_college_form') }}">
                    <button type="button" class="primary-button" id="addButton"><i class="fa-regular fa-square-plus"></i></button>
                </a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in colleges_data %}
                    <tr>
                        <td>{{ college['collegeCode'] }}</td>
                        <td>{{ college['collegeName'] }}</td>
                        <td>
                            <button type="button" class="custom-edit-button" id="editButton">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="button" class="custom-collegedelete-button" data-college-code="{{ college.collegeCode }}">
                                <i class="fa-solid fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>



{% endblock %}
