{% set active_page = 'courses'%}
{% extends "layouts.html" %}
{% block content %}

    <section class="course">
        <div class="course-list">
            <div class="course-header">
                <h1>Courses</h1>
                <a href="{{ url_for('courses.add_course_form') }}">
                    <button type="button" class="primary-button" id="addButton">Add</button>
                </a>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>College</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses_data %}
                    <tr>
                        <td>{{ course['courseCode'] }}</td>
                        <td>{{ course['courseName'] }}</td>
                        <td>{{ course['college'] }}</td>
                        <td>
                            <button type="button" class="custom-edit-button" id="editButtonStudent">
                                Edit
                            </button>
                            <button type="button" class="custom-delete-button" id="deleteButton">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
