{% set active_page = 'courses'%}
{% extends "layouts.html" %}
{% block content %}

    <section class="course">
        <div class="course-list">
            <div class="course-header">
                <h1>Courses</h1>
                <a href="{{ url_for('courses.add_course_form') }}">
                    <button type="button" class="primary-button" id="addButton"><i class="fa-regular fa-square-plus"></i></button>
                </a>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>College</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses_data %}
                    <tr>
                        <td>{{ course['courseCode'] }}</td>
                        <td>{{ course['courseName'] }}</td>
                        <td>{{ course['college'] }}</td>
                        <td>
                            <button type="button" class="custom-edit-button" id="editButtonStudent" data-course-code="{{ course.courseCode }}">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button type="button" class="custom-coursedelete-button" data-course-code="{{ course.courseCode }}"> <i class="fa-solid fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <div id="editCourseModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Course - <span id="courseCodeHeading"></span></h2>
                <span class="close" id="closeEditCourseModal">&times;</span>
            </div>
                <div class="modal-body">
                    <form id="editForm" method="post" action="{{ url_for('courses.update_course_route') }}">
                        <div class="inputBox">
                            <input type="text" id="editCourseCode" name="editCourseCode" value="{{courseCode }}" required>
                            <label for="editCourseCode">Course Code:</label>
                        </div>
                        <div class="inputBox">
                            <input type="text" id="editCourseName" name="editCourseName" value="{{courseName }}" required>
                            <label for="editCourseName">Course Name:</label>
                        </div>
                        <div class="inputBox">
                            <input type="text" id="editCollege" name="editCollege" value="{{college }}" required>
                            <label for="editCollege">College:</label>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="submit" class="primary-button" id="updateCourseButton">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
{% endblock %}
