{% extends "layouts.html" %}
{% block content %}
<section class="course">
    <div class="course-list">
        <div class="course-header">
            <h1>Courses</h1>
            <div class="button-container">
                <button class="primary-button" id="add-courses-btn">Add</button>
            </div>
        </div>
        <table class="table table-custom">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>College</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BSCS</td>
                    <td>Bachelor of Science in Computer Science</td>
                    <td>CCS</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>BSIT</td>
                    <td>Bachelor of Science in Information Technology</td>
                    <td>CCS</td>
                    <td>
                        <button class="custom-edit-button">Edit</button>
                        <button class="custom-delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
