<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf_token" content="{{ csrf_token() }}" />
        <title>SSIS</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/students.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
<body>
    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">



            <li class="{{ 'active' if active_page == 'students' else '' }}">
                <a href="{{ url_for("students.show_students") }}">
                    <i class="fa-brands fa-google-scholar"></i>
                    <span>Students</span>
                </a>
            </li>

            <li class="{{ 'active' if active_page == 'courses' else '' }}">
                <a href="{{ url_for("courses.show_courses") }}">
                    <i class="fa-brands fa-readme"></i>
                    <span>Courses</span>
                </a>
            </li>

            <li class="{{ 'active' if active_page == 'colleges' else '' }}">
                <a href="{{ url_for("colleges.show_colleges") }}">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Colleges</span>
                </a>
            </li>

            
            <li class="logout">
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Back to Home</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <h2>Dashboard</h2>
            </div>
            <div class="user--info">
                <div class="search--box">
                    <select id="searchCriteria" onchange="updateSearchInput()">
                        <option value="studentID">Student ID</option>
                        <option value="studentFname">First Name</option>
                        <option value="studentLname">Last Name</option>
                        <option value="course">Course</option>
                        <option value="year">Year</option>
                        <option value="gender">Gender</option>
                    </select>
                    <div id="searchInputContainer">
                        <input type="text" id="searchInput" placeholder="Search"/>
                    </div>
                    <button type="button" onclick="performSearch()">Search</button>
                </div>
                <img src="{{ url_for('static', filename='images/MSU_2018_10_25_10_31_04.jpg')}}" alt="Image 1">
            </div>
        </div>
        <section class="main">
            
            {% block content %}{% endblock %}

        </section> 
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://kit.fontawesome.com/23c08e42be.js" crossorigin="anonymous"></script>
        <script type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
        <script>
            const url = window.location.href
            console.log("url", url)
            const selectElement = document.getElementById('searchCriteria');
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
              });
              // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
              let value = params.option; 
              console.log("query params", value)
              if (url == "http://127.0.0.1:8080/colleges" || value == 'colleges') {
                    const searchOption = ["collegeCode", "collegeName"]

                     // Remove all children of the select element
                while (selectElement.firstChild) {
                    selectElement.removeChild(selectElement.firstChild);
                }

                    searchOption.forEach( function(opt){
                        let optn = document.createElement('option');
                        console.log("|Hey", opt);
                        optn.value = opt;
                        optn.innerHTML = opt;  // Set the text inside the option
                        selectElement.appendChild(optn);
                    })
              }

            if (url == "http://127.0.0.1:8080/courses" || value == 'courses') {
            
                // Remove all children of the select element
                while (selectElement.firstChild) {
                    selectElement.removeChild(selectElement.firstChild);
                }
            
                // Array of new options
                const searchOptions = ["courseCode", "courseName", "college"];
            
                // Add new options to the select element
                searchOptions.forEach(function(opt) {
                    let optn = document.createElement('option');
                    console.log("|Hey", opt);
                    optn.value = opt;
                    optn.innerHTML = opt;  // Set the text inside the option
                    selectElement.appendChild(optn);
                });
            }

            function updateSearchInput() {
                var searchCriteria = document.getElementById('searchCriteria').value;
                var searchInputContainer = document.getElementById('searchInputContainer');

            
                if (searchCriteria === 'year' || searchCriteria === 'gender') {
                    var options;
            
                    if (searchCriteria === 'year') {
                        options = `
                            <option value="1st Year">1st Year</option>
                            <option value="2nd Year">2nd Year</option>
                            <option value="3rd Year">3rd Year</option>
                            <option value="4th Year">4th Year</option>
                            <option value="5th Year">5th Year</option>
                            <option value="6th Year">6th Year</option>
                        `;
                    } else if (searchCriteria === 'gender') {
                        options = `
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        `;
                    }
            
                    searchInputContainer.innerHTML = `
                        <select id="searchInput">
                            ${options}
                        </select>
                    `;
                } else if (searchCriteria === 'course') {
                    var coursesOptions = '';
                    courses.forEach(function(course) {
                        coursesOptions += `<option value="${course.courseCode}">${course.courseName}</option>`;
                    });
            
                    searchInputContainer.innerHTML = `
                        <select id="searchInput">
                            ${coursesOptions}
                        </select>
                    `;
                } else {
                    searchInputContainer.innerHTML = `
                        <input type="text" id="searchInput" placeholder="Search"/>
                    `;
                }
            }
            
            
            function performSearch() {
                var searchInput = document.getElementById('searchInput').value;
                var searchCriteria = document.getElementById('searchCriteria').value;

              
                if(searchInput == ""){
                    return
                }



                if (url == "http://127.0.0.1:8080/courses") {
                    var redirectUrl = "/search?query=" + encodeURIComponent(searchInput) + "&criteria="+searchCriteria + "&option=" + 'courses';
                    window.location.href = redirectUrl;
                    return
                }

                
                if (url == "http://127.0.0.1:8080/colleges") {
                    var redirectUrl = "/search?query=" + encodeURIComponent(searchInput) + "&criteria="+searchCriteria + "&option=" + 'colleges';
                    window.location.href = redirectUrl;
                    return
                }
            
                var redirectUrl = "/search?query=" + encodeURIComponent(searchInput) + "&criteria=" + searchCriteria + "&option=" + 'student';
                window.location.href = redirectUrl;
            }
            
        </script>
        
</body>


</html>

