{% set active_page = 'students'%}
{% extends "layouts.html" %}

{% block content %}
    <section class="student">
        <div class="student-list">
            <div class="students-header">
                <h3>Students</h3>
                <a href="{{ url_for('students.add_student_form') }}">
                    <button type="button" class="primary-button" id="addButton"><i class="fa-solid fa-user-plus"></i></button>
                </a>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Profile Picture</th>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Course</th>
                        <th>Year</th>
                        <th>Gender</th>
                        <!-- <th>College</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for student in students_data %}
                        <tr>
                            <td>
                                <img src= {{ student['profile_picture'] }} />
                            </td>
                            <td>{{ student['studentID'] }}</td>
                            <td>{{ student['studentLname'] }}</td>
                            <td>{{ student['studentFname'] }}</td>
                            <td>{{ student['course'] }}</td>
                            <td>{{ student['year'] }}</td>
                            <td>{{ student['gender'] }}</td>
                            <!-- <td> {{ student['college']}}</td> -->
                            <td>
                                <button type="button" class="custom-edit-button" id="editButtonStudent"
                                        data-student-id="{{ student['studentID'] }}"
                                        data-fname="{{ student['studentFname'] }}"
                                        data-lname="{{ student['studentLname'] }}"
                                        data-course="{{ student['course'] }}"
                                        data-year="{{ student['year'] }}"
                                        data-gender="{{ student['gender'] }}">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                                <button type="button" class="custom-studentdelete-button" data-student-id="{{ student.studentID }}"><i class="fa-solid fa-trash"></i></button>
                                <button type="button" class="showprofile-button" onclick="showStudentProfile('{{ student.studentID }}')">
                                    <i class="fa-solid fa-user"></i>
                                </button>                                                               
                                                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>    
        </div>
    </section>
    <div id="editStudentModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Edit Student - <span id="studentIDHeading"></span></h2>
                <span class="close" id="closeEditStudentModal">&times;</span>
            </div>
                <div class="modal-body">
                    <form id="editForm" method="post" action="{{ url_for('students.update_student_route') }}">
                        <div class="inputBox">
                            <input type="text" id="editStudentId" name="editStudentId" value="{{studentID }}" required disabled>
                            <label for="editStudentId">Student ID:</label>
                        </div>
                        <div class="inputBox">
                            <input type="text" id="editStudentFName" name="editStudentFName" value="{{studentFname }}" required>
                            <label for="editStudentFName">First Name:</label>
                        </div>
                        <div class="inputBox">
                            <input type="text" id="editStudentLName" name="editStudentLName" value="{{studentLname }}" required>
                            <label for="editStudentLName">Last Name:</label>
                        </div>
                        <div class="inputBox">
                            <select id="editCourse" name="editCourse" required>
                                {% for course in courses %}
                                    <option value="{{ course.courseCode }}">{{ course.courseCode }} - {{ course.courseName }}</option>
                                {% endfor %}
                            </select>
                            <label for="editCourse">Course:</label>
                        </div>
                        <div class="inputBox">
                            <select id="editYear" name="editYear" required>
                                <option value="1st Year">1st Year</option>
                                <option value="2nd Year">2nd Year</option>
                                <option value="3rd Year">3rd Year</option>
                                <option value="4th Year">4th Year</option>
                                <option value="5th Year">5th Year</option>
                                <option value="6th Year">6th Year</option>
                            </select>
                            <label for="editYear">Year:</label>
                        </div>
                        <div class="inputBox">
                            <select id="editGender" name="editGender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <label for="editGender">Gender:</label>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="submit" class="primary-button" id="updateStudentButton">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    {% endblock content %}
