{% extends "layouts.html" %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Roboto:wght@500&display=swap');
    
</style>

<section class="student-profile">
    <div class="profile--wrapper">
        <div class="left">
            <img src="https://res.cloudinary.com/dtounqe2m/image/upload/v1703271588/webssis/default-pic.jpg" alt="user--pic" id="profile-image">
            <div class="dark-overlay"></div>
            <button class="edit-button" onclick="openFileInput()"><i class="fa-solid fa-pen"></i></button>
            <div class="profile--name">
                <h4><b>Student ID: {{ student_data['studentID'] }}</b></h4>
                <p>STUDENT</p>
            </div>
        </div>
        <div class="right">

            <div class="info">
                <h2><b>ABOUT</b></h2>
                <h3>Information</h3>
                <div class="info--data">
                    <div class="data">
                        <h4>First Name</h4>
                        <p>{{ student_data['studentFname'] }}</p>
                    </div>
                    <div class="data">
                        <h4>Last Name</h4>
                        <p>{{ student_data['studentLname'] }}</p>
                    </div>
                </div>
            </div>
            <div class="other--info">
                <h3>Other</h3>
                <div class="other--data">
                    <div class="data">
                        <h4>Course</h4>
                        <p>{{ student_data['course'] }}</p>
                    </div>
                    <div class="data">
                        <h4>College</h4>
                        {% if student_data['collegeCode'] %}
                            <p>{{ student_data['collegeCode'] }}</p>
                        {% else %}
                            <p>No College</p>
                        {% endif %}
                      </div>                    
                                                       
                    <div class="data">
                        <h4>Year</h4>
                        <p>{{ student_data['year'] }}</p>
                    </div>
                    <div class="data">
                        <h4>Gender</h4>
                        <p>{{ student_data['gender'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function openFileInput() {
        document.getElementById('file-input').click();
    }
</script>

<input type="file" id="file-input" style="display: none" accept="image/*">


{% endblock %}
